.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Full viewport height */
    background-color: #f0f0f0; /* Light background */
    
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey background */
    border-top: 8px solid #3498db; /* Blue spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    /* opacity: 0.4; */
    position:absolute;
    bottom: 350px;
    left: 750px;
    z-index: 3;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
